@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrap_external {
  width: 1280px;
  margin: 0 auto;
}
.wrap_internal {
  padding: 0 55px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrap_external {
    width: 100%;
  }
  .wrap_internal {
    padding: 0 5%;
  }
}
.main {
  padding-top: 80px;
}

.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}

.main-header {
  position: fixed;
  z-index: 5;
  display: flex;
  width: 1280px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e8e2d6;
}

.mobile-header {
  display: none;
}

.header__item, .menu .options__item, .menu .settings__item, .menu .nav-list__item {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.01rem;
}
.header__item:hover, .menu .options__item:hover, .menu .settings__item:hover, .menu .nav-list__item:hover {
  cursor: pointer;
}

.hidden-menu {
  position: fixed;
  z-index: 6;
  top: 79px;
  display: flex;
  padding: 50px 45px 40px 60px;
  color: white;
  background-color: #262a32;
}
.hidden-menu__title {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.hidden-menu__list {
  padding: 4px 0;
  list-style: none;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
}
.hidden-menu__item {
  display: inline-block;
  padding: 4px 0;
  text-decoration: none;
  color: white;
}
.hidden-menu__item:hover {
  color: #999999;
}
.hidden-menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-menu__image {
  border-radius: 7px;
}

.hide {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
.logo__image {
  width: 63px;
  height: 65px;
}
.logo__name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.logo__name_abbreviation {
  height: 33px;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #011847;
}
.logo__name_second {
  height: 25px;
  font-weight: 400px;
  font-size: 18px;
  color: #84bc22;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}
.menu .nav-list {
  margin: 0;
  padding: 0;
  height: 80px;
}
.menu .nav-list .additional-menu::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 25px;
}
.menu .nav-list__item {
  margin-top: 15px;
  padding: 10px 10px 28px;
  color: #45413e;
}
.menu .nav-list__item:hover {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .nav-list__item:hover .nav__link {
  color: #999999;
}
.menu .nav-list__item.active {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .nav__link {
  color: #45413e;
  text-decoration: none;
}
.menu .settings {
  margin-bottom: 5px;
}
.menu .settings__item {
  padding: 0 15px 0 15px;
  color: #999999;
  border: none;
}
.menu .settings__item:hover {
  color: #7f7f7f;
}
.menu .options {
  margin-bottom: 0;
}
.menu .options__item {
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1.4rem;
  position: relative;
}
.menu .options__item:hover {
  color: #7f7f7f;
}
.menu .options__item:visited {
  color: #b2b2b2;
}
.menu .options__item a {
  color: #b2b2b2;
}
.menu .options__item .material-symbols-outlined {
  font-weight: bold;
}

@media (max-width: 1279px) {
  .main-header {
    display: none;
  }
  .mobile-header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    background-color: #fff;
    border-bottom: 1px solid #e8e2d6;
  }
  .mobile-header__position {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .mobile-header__menu {
    position: absolute;
    left: 0;
    top: 5%;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .mobile-header__img {
    width: 45px;
    height: 45px;
  }
  .mobile {
    width: 100%;
    top: 60px;
  }
  .mobile .hidden-menu__sub-title {
    padding-left: 20px;
  }
  .mobile .hidden-menu__list {
    padding-left: 40px;
  }
}
.intro {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 560px;
}

.slide {
  width: 75%;
}

.carousel-indicators .indicator {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 0 12px;
}

.carousel-indicators .active {
  color: #e8e2d6;
}

.carousel__img {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 70px 65px 45px;
  border-radius: 7px;
}
.carousel__title {
  margin-bottom: 100px;
  max-width: 560px;
  font-weight: 600;
  font-size: 2.9rem;
}
.carousel__description {
  margin-bottom: 50px;
  width: 336px;
  height: 32px;
  font-size: 0.8rem;
  line-height: 1rem;
  opacity: 0.7;
  overflow: hidden;
}

.slide-1 {
  background-image: url(../../images/carousel/slide_1.jpg);
  display: flex;
  align-items: flex-start;
}

.slide-2 {
  background-image: url(../../images/carousel/slide_2.jpg);
  display: flex;
  align-items: center;
}

.slide-3 {
  background-image: url(../../images/carousel/slide_3.jpg);
  display: flex;
  align-items: flex-end;
}

.btn {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}

.btn-outline-light {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e2d6;
  border-color: #e8e2d6;
  opacity: 0.5;
}

.sale {
  height: 330px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/main/sale.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  color: white;
}
.sale__amount {
  margin: 35px auto;
  font-size: 6rem;
  font-weight: 900;
}
.sale__time {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.8rem;
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #45413e;
}
.follow__text_title {
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.7;
  margin-top: 35px;
  margin-bottom: 7px;
}
.follow__text_descript {
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 25px;
}
.follow__link {
  color: #3b5b96;
  border-color: #3b5b96;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.follow__link:hover {
  border-color: #3b5b96;
  background-color: #3b5b96;
  color: white;
}

@media (max-width: 1297px) {
  .carousel {
    width: 100%;
  }
  .carousel__title {
    margin-top: 50px;
    font-size: 2rem;
  }
  .carousel__description {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    line-height: 1.5rem;
  }
  .btn {
    align-self: center;
  }
  .side {
    display: none;
  }
}
@media (max-width: 769px) {
  .carousel__img {
    padding: 15px;
  }
  .carousel__title {
    margin-bottom: 40px;
    font-size: 2rem;
  }
  .carousel__description {
    margin-bottom: 20px;
    font-size: 1rem;
    width: 100%;
    height: auto;
  }
  .btn {
    align-self: center;
  }
}
.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: #45413e;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__copyright {
  padding-bottom: 25px;
}
.footer__contact {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
.footer__title {
  color: #45413e;
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 0.95;
  letter-spacing: 0.01rem;
  font-weight: 600;
}
.footer__menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer__social-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__link {
  color: #45413e;
  text-decoration: none;
  color: #b2b2b2;
  opacity: 0.7;
  font-size: 18px;
}
.footer__link:hover {
  color: inherit;
  cursor: pointer;
}
.footer__link:hover {
  color: darker(#b2b2b2, 20%);
}

.address-item {
  padding-bottom: 18px;
}

.mail-to,
.call-to {
  text-decoration: none;
  color: #45413e;
}
.mail-to:hover,
.call-to:hover {
  color: #85bc23;
}

.categoriest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.categoriest__column {
  display: flex;
  flex-direction: column;
}
.categoriest__element {
  color: #45413e;
  text-decoration: none;
  padding: 8px 0;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.7;
}
.categoriest__element:hover {
  color: inherit;
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
