.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: $text-color-main;
  margin-top: 40px;
  margin-bottom: 40px;

  &__copyright {
    padding-bottom: 25px;
  }

  &__contact {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }

  &__title {
    @include title($text-color-main, 0.8rem);
  }

  &__menu {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &__social-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__link {
    @include for-link;
    color: $color-icon;
    opacity: 0.7;
    font-size: 18px;
    &:hover {
      color: darker($color-icon, 20%);
    }
  }
  .container-fluid {
    display: none;
  }
  .footer-options {
    display: none;
  }
}

.address-item {
  padding-bottom: 18px;
}

.mail-to,
.call-to {
  text-decoration: none;
  color: $text-color-main;

  &:hover {
    color: $first-color;
  }
}

.categoriest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__element {
    @include for-link;
    padding: 8px 0;
    font-weight: 400;
    font-size: 0.8rem;
    opacity: 0.7;
  }
}

.heart-position {
  position: relative;
}

.heart-container {
  @include indicator-amount($background-color);
  top: -4px;
  left: 16px;
  display: none;
}

.bag-position {
  position: relative;
}

.shopping-container {
  @include indicator-amount($background-color);
  left: 12px;
  display: none;
}

@media (max-width: 1279px) {
  .footer {
    grid-template-columns: 27% 1fr 5%;

    &__social-link {
      display: flex;
      flex-direction: column;
    }
    &__link {
      padding-bottom: 16px;
    }
  }
  .footer-options {
    display: none;
  }
}

@media (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;

    &__contact {
      display: none;
    }
    &__menu {
      display: none;
    }

    &__social-link {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 50%;
      margin: 0 auto;
    }
    .container-fluid {
      display: contents;
    }
    .click {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    .address-item {
      margin-bottom: 0;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .categoriest__element {
      @include for-link;
    }

    .hidden-menu__list {
      padding: 4px 8px;
    }
    .hide {
      display: none;
    }

    .rotate-arrow {
      transform: rotate(180deg);
    }

    .wrap-options {
      position: fixed;
      z-index: 5;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 55px;
      padding: 10px 20% 0 20%;
      background-color: $background-color;
    }

    .footer-options {
      padding: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &__item {
        @include icons(1.5rem);
        padding: 0;
        list-style: none;

        .material-symbols-outlined {
          font-weight: bold;
        }
      }
    }
  }
}
