.main-header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 1280px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e8e2d6;
}

.mobile-header {
  display: none;
}

.header {
  &__item {
    display: inline-block;
    list-style: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: -0.01rem;

    &:hover {
      cursor: pointer;
    }
  }
}
.hidden-menu {
  position: fixed;
  z-index: 6;
  top: 79px;
  display: flex;
  padding: 50px 45px 40px 60px;
  color: white;
  background-color: $background-color;

  &__title {
    @include title(white, 1rem);
    padding-bottom: 10px;
  }

  &__list {
    padding: 4px 0;
    list-style: none;
    font-size: 0.9rem;
    text-transform: capitalize;
    letter-spacing: 0.01rem;
  }

  &__item {
    display: inline-block;
    padding: 4px 0;
    text-decoration: none;
    color: white;

    &:hover {
      color: $text-color-hover;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    border-radius: $border-radius-px;
  }
}

.hide {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &__image {
    width: 63px;
    height: 65px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    &_abbreviation {
      height: 33px;
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #011847;
    }

    &_second {
      height: 25px;
      font-weight: 400px;
      font-size: 18px;
      color: #84bc22;
    }
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;

  .nav-list {
    margin: 0;
    padding: 0;
    height: 80px;

    .additional-menu::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      margin-left: 25px;
    }

    &__item {
      @extend .header__item;
      margin-top: 15px;
      padding: 10px 10px 28px;
      color: $text-color-main;

      &:hover {
        background-color: $background-color;
        border-bottom: 3px solid $first-color;
        color: $text-color-hover;
      }

      &:hover .nav__link {
        color: $text-color-hover;
      }

      &.active {
        background-color: $background-color;
        border-bottom: 3px solid $first-color;
        color: $text-color-hover;
      }
    }
  }

  .nav__link {
    color: $text-color-main;
    text-decoration: none;
  }

  .settings {
    margin-bottom: 5px;

    &__item {
      @extend .header__item;
      padding: 0 15px 0 15px;
      color: $text-color-hover;
      border: none;
      width: 80px;

      &:hover {
        color: darken($color-icon, 20%);
      }
    }
  }

  .form-select:focus {
    border: none;
    box-shadow: none;
  }

  .options {
    margin-bottom: 0;
    padding-top: 16px;

    &__item {
      @extend .header__item;
      @include icons(1.4rem);
      position: relative;

      a {
        color: $color-icon;
      }

      .material-symbols-outlined {
        font-weight: bold;
      }
    }
  }

  .heart-container {
    @include indicator-amount(white);
    display: none;
  }

  .shopping-container {
    @include indicator-amount(white);
    left: 28px;
    display: none;
  }
}

@media (max-width: 1279px) {
  .main-header {
    display: none;
  }

  .mobile-header {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid $color-btn;

    &__position {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    &__menu {
      position: absolute;
      left: 0;
      top: 5%;
      font-weight: 700;
      font-size: 2.5rem;
      cursor: pointer;
    }

    &__img {
      width: 45px;
      height: 45px;
    }
  }

  .mobile {
    width: 100%;
    top: 60px;
    padding: 15px 20px;

    .click {
      display: flex;
      cursor: pointer;

      &-service {
        padding-bottom: 18px;
      }
    }

    .hide {
      display: none;
    }

    .rotate-arrow {
      transform: rotate(180deg);
    }

    .hidden-menu {
      padding-top: 0;

      &__sub-title {
        padding-left: 20px;
        cursor: pointer;
      }
      &__list {
        padding-left: 40px;
      }
      &__image {
        width: 100%;
      }
    }
  }
}
