@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.wrap {
    &_external {
        width: 1280px;
        margin: 0 auto;
    }

    &_internal {
        padding: 0 55px;
    }
}

.main {
    padding-top: 80px;
}