.intro {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 560px;
}

.slide {
  width: 75%;
}

.img-1 {
  background-image: url(../../images/carousel/slide_1.jpg);
}

.carousel-indicators li {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin: 0 12px;
}

.carousel-indicators .active {
  color: $color-btn;
}

.carousel {
  &__img {
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 70px 65px 45px;
    border-radius: $border-radius-px;
  }

  &__title {
    margin-bottom: 100px;
    max-width: 560px;
    font-weight: 600;
    font-size: 2.9rem;
  }

  &__description {
    margin-bottom: 50px;
    width: 336px;
    height: 32px;
    font-size: 0.8rem;
    line-height: 1rem;
    opacity: 0.7;
    overflow: hidden;
  }
}

.slide-1 {
  background-image: url(../../images/carousel/slide_1.jpg);
  display: flex;
  align-items: flex-start;
}

.slide-2 {
  background-image: url(../../images/carousel/slide_2.jpg);
  display: flex;
  align-items: center;
}

.slide-3 {
  background-image: url(../../images/carousel/slide_3.jpg);
  display: flex;
  align-items: flex-end;
}

.btn {
  font-size: 0.875rem;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}

.btn-outline-light {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-btn;
  border-color: $color-btn;
  opacity: 0.5;
}

.sale {
  height: 330px;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/main/sale.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: $border-radius-px;
  color: white;

  &__amount {
    margin: 35px auto;
    font-size: 6rem;
    font-weight: 900;
  }

  &__time {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.8rem;
  }
}

.follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $text-color-main;

  &__text {
    &_title {
      font-size: 1.1rem;
      font-weight: 600;
      opacity: 0.7;
      margin-top: 35px;
      margin-bottom: 7px;
    }
    &_descript {
      font-size: 0.8rem;
      font-weight: 600;
      opacity: 0.8;
      margin-bottom: 25px;
    }
  }

  &__link {
    color: $second-color;
    border-color: $second-color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &:hover {
      border-color: $second-color;
      background-color: $second-color;
      color: white;
    }
  }
}

@media (max-width: 1297px) {
  .carousel {
    width: 100%;

    &__title {
      margin-top: 50px;
      font-size: 2rem;
    }

    &__description {
      font-size: 1.2rem;
      width: 100%;
      height: auto;
      line-height: 1.5rem;
    }
  }

  .btn {
    align-self: center;
  }

  .side {
    display: none;
  }
}

@media (max-width: 769px) {
  .carousel {
    &__img {
      padding: 15px;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 2rem;
    }

    &__description {
      margin-bottom: 20px;
      font-size: 1rem;
      width: 100%;
      height: auto;
    }
  }
  .btn {
    align-self: center;
  }
}
