@import "utils/variables.scss";
@import "utils/mixin.scss";

@import "blocks/basic";
@import "blocks/header";
@import "blocks/footer";

main {
  background-color: $background-not-found;
  padding-bottom: 45px;
}

.breadcrumb {
  justify-content: center;
  padding: 45px 0 25px;
  margin-bottom: 0;
}

.link-home {
  @include for-link;
  color: $first-color;
  &:hover {
    color: darken($first-color, 10%);
  }
}

.not-found {
  &__wrap-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line {
    margin: 10px 0 20px;
    height: 2px;
    background-color: #e8e4e1;
  }

  &__title {
    display: flex;
    justify-content: center;
    &--404 {
      font-size: 3rem;
      font-weight: 900;
    }
  }
  &__info {
    display: flex;
    width: fit-content;
    background-color: white;
    border-radius: $border-radius-px;
    padding: 60px 100px;
    margin: 0 55px;
  }

  &__icon {
    display: flex;
    align-items: center;
    background-image: url(../images/not-found/exclamation_mark.png);
    background-repeat: no-repeat;
    background-position-x: right;

    &--oops {
      color: $first-color;
      font-size: 7rem;
      font-weight: 900;
    }
  }

  &__content {
    padding-left: 100px;

    &--title {
      font-size: 1.5rem;
      font-weight: 900;
    }
    &--text {
      color: $text-color-main;
      opacity: 0.8;
    }
    &--link {
        padding: 30px 0 44px;
    }
  }

  &__searching {
    position: relative;
 

    &--outlined {
      position: absolute;
      top: 8px;
      right: 15px;
      color: $color-icon;
      font-weight: 900;
    }
    .form-control {
        border-radius: 20px;
        margin-top: 10px;
      }
  }
}

@media (max-width: 1279px) {
    .not-found__info {
        padding: 60px 80px;
    }
    
    .not-found__icon--oops {
        font-size: 5rem;
    }

    .not-found__content {
        padding-left: 60px;
    }
}

@media (max-width: 769px) {
    .not-found {
        &__info {
            flex-direction: column;
            padding: 15px;
        }
        &__icon {
            background-size: 30%;
            background-position-x: center;
            background-position-y: center;
            justify-content: center;
        }
        &__content {
            padding-left: 10px;
            justify-content: center;
        }
    }
}