@import 'variables';

@mixin icons($font-size) {
    padding: 0 15px 10px 15px;
    color: $color-icon;
    font-size: $font-size;
  
    &:hover {
      color: darken($color-icon, 20%);
    }
  
    &:visited {
      color: $color-icon;
    }
}

@mixin title($color, $font-size) {
    color: $color;
    font-size: $font-size;
    text-transform: uppercase;
    opacity: 0.95;
    letter-spacing: 0.01rem;
    font-weight: 600;
}

@mixin for-link () {
  color: $text-color-main;
  text-decoration: none;

  &:hover {
    color: inherit;
    cursor: pointer;
  }
}