$background-color: #262a32;
$first-color: #85bc23;
$second-color: #3b5b96;

$text-color-main: #45413e;
$text-color-hover: #999999;

$color-icon: #b2b2b2;

$color-btn: #e8e2d6;

$border-radius-px: 7px;

