@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrap_external {
  width: 1280px;
  margin: 0 auto;
}
.wrap_internal {
  padding: 0 55px;
}

.main {
  padding-top: 110px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrap_external {
    width: 100%;
  }
  .wrap_internal {
    padding: 0 5%;
  }
}
@media (max-width: 1200px) {
  .main {
    padding-top: 65px;
  }
}
.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}
.btn:focus {
  box-shadow: none;
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 1280px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e8e2d6;
}

.mobile-header {
  display: none;
}

.header__item, .menu .options__item, .menu .settings__item, .menu .nav-list__item {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.01rem;
}
.header__item:hover, .menu .options__item:hover, .menu .settings__item:hover, .menu .nav-list__item:hover {
  cursor: pointer;
}

.hidden-menu {
  position: fixed;
  z-index: 6;
  top: 79px;
  display: flex;
  padding: 50px 45px 40px 60px;
  color: white;
  background-color: #262a32;
}
.hidden-menu__title {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.hidden-menu__list {
  padding: 4px 0;
  list-style: none;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
}
.hidden-menu__item {
  display: inline-block;
  padding: 4px 0;
  text-decoration: none;
  color: white;
}
.hidden-menu__item:hover {
  color: #999999;
}
.hidden-menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-menu__image {
  border-radius: 7px;
}

.hide {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
.logo__image {
  width: 63px;
  height: 65px;
}
.logo__name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.logo__name_abbreviation {
  height: 33px;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #011847;
}
.logo__name_second {
  height: 25px;
  font-weight: 400px;
  font-size: 18px;
  color: #84bc22;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}
.menu .nav-list {
  margin: 0;
  padding: 0;
  height: 80px;
}
.menu .nav-list .additional-menu::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 25px;
}
.menu .nav-list__item {
  margin-top: 15px;
  padding: 10px 10px 28px;
  color: #45413e;
}
.menu .nav-list__item:hover {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .nav-list__item:hover .nav__link {
  color: #999999;
}
.menu .nav-list__item.active {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .nav__link {
  color: #45413e;
  text-decoration: none;
}
.menu .settings {
  margin-bottom: 5px;
}
.menu .settings__item {
  padding: 0 15px 0 15px;
  color: #999999;
  border: none;
  width: 80px;
}
.menu .settings__item:hover {
  color: #7f7f7f;
}
.menu .form-select:focus {
  border: none;
  box-shadow: none;
}
.menu .options {
  margin-bottom: 0;
  padding-top: 16px;
}
.menu .options__item {
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1.4rem;
  position: relative;
}
.menu .options__item:hover {
  color: #7f7f7f;
}
.menu .options__item:visited {
  color: #b2b2b2;
}
.menu .options__item a {
  color: #b2b2b2;
}
.menu .options__item .material-symbols-outlined {
  font-weight: bold;
}
.menu .heart-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: white;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  display: none;
}
.menu .shopping-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: white;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  left: 28px;
  display: none;
}

@media (max-width: 1279px) {
  .main-header {
    display: none;
  }
  .mobile-header {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8e2d6;
  }
  .mobile-header__position {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .mobile-header__menu {
    position: absolute;
    left: 0;
    top: 5%;
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .mobile-header__img {
    width: 45px;
    height: 45px;
  }
  .mobile {
    width: 100%;
    top: 60px;
    padding: 15px 20px;
  }
  .mobile .click {
    display: flex;
    cursor: pointer;
  }
  .mobile .click-service {
    padding-bottom: 18px;
  }
  .mobile .hide {
    display: none;
  }
  .mobile .rotate-arrow {
    transform: rotate(180deg);
  }
  .mobile .hidden-menu {
    padding-top: 0;
  }
  .mobile .hidden-menu__sub-title {
    padding-left: 20px;
    cursor: pointer;
  }
  .mobile .hidden-menu__list {
    padding-left: 40px;
  }
  .mobile .hidden-menu__image {
    width: 100%;
  }
}
.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 0;
  background-color: #262a32;
  color: white;
}
.popular .container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}
.popular__wrap-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.popular__line {
  margin: 10px 0 20px;
  height: 2px;
  background-color: #fff;
  opacity: 0.1;
}
.popular__title {
  display: flex;
  justify-content: center;
}
.popular__title--heading {
  font-size: 1.5rem;
  font-weight: 400;
}
.popular .popular__item {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 30px;
}
.popular .popular__item .card {
  width: 268px;
  height: 368px;
  color: #45413e;
  font-size: 1rem;
  position: relative;
  background-color: #262a32;
}
.popular .popular__item .card__main {
  position: relative;
}
.popular .popular__item .card__overlay {
  width: 268px;
  height: 368px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #1cc167 0%, #2ed3a2 100%);
  opacity: 0.9;
  border-radius: 7px;
  display: none;
}
.popular .popular__item .card__img {
  height: 272px;
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.popular .popular__item .card__info {
  height: 96px;
  background: #fff;
  text-align: center;
  color: #45413e;
  border-radius: 0 0 7px 7px;
}
.popular .popular__item .card__info .buy {
  width: max-content;
  border-color: #e5e5e5;
  color: #000;
  font-weight: 600;
}
.popular .popular__item .card__info .buy:hover {
  cursor: pointer;
  border-color: #e5e5e5;
  background-color: white;
  color: #85bc23;
}
.popular .popular__item .card__info .buy:focus {
  box-shadow: none;
}
.popular .popular__item .card__info .price {
  color: #45413e;
  text-decoration: none;
  color: #000;
}
.popular .popular__item .card__info .price:hover {
  color: inherit;
  cursor: pointer;
}
.popular .popular__item .card__buttons {
  width: 268px;
  height: 368px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.popular .popular__item .card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  font-size: 2.5rem;
  font-weight: 900;
}
.popular .popular__item .card__button:hover {
  cursor: pointer;
}
.popular .popular__item .card__button:active {
  background-color: darren(white, 5%);
}
.popular .popular__item .card .plus {
  color: #23c46e;
}
.popular .popular__item .card .heart {
  color: #e73c68;
}
.popular .popular__item .card .addedToHeartsList {
  color: gray;
}
.popular .popular__item .card__message {
  background-image: linear-gradient(to top, rgba(103, 91, 153, 0.8), rgba(220, 89, 135, 0.8)), url("../images/main/popular-item-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
  display: flex;
  justify-content: flex-end;
}
.popular .popular__item .card .message__main {
  width: 80%;
  padding: 30px;
  color: white;
}
.popular .popular__item .card .message__text {
  font-weight: normal;
}
.popular .popular__item .card .message__logo {
  width: 24px;
  height: 28px;
}
.popular .popular__item .card:hover > .card__overlay {
  display: block;
}
.popular .btn__more {
  margin-top: 50px;
  width: 264px;
  color: #e8e2d6;
  border-color: #e8e2d6;
  opacity: 0.8;
}
.popular .btn__more:hover {
  background-color: #e8e2d6;
  border-color: #e8e2d6;
  color: #45413e;
}
.popular .btn__circle-arrow {
  padding-left: 10px;
}
.popular .card__info--link {
  color: #45413e;
  text-decoration: none;
  color: #45413e;
}
.popular .card__info--link:hover {
  color: inherit;
  cursor: pointer;
}
.popular .card__info--link:hover {
  color: #85bc23;
}

@media (max-width: 576px) {
  .popular {
    padding: 0;
  }
  .popular__line {
    display: none;
  }
  .popular__title {
    width: 100%;
  }
  .popular__item {
    width: 100%;
  }
}
.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 52px 20px 52px;
  background-color: #45413e;
}
.advantages__wrap {
  display: flex;
  justify-content: space-around;
}
.advantages__item {
  display: flex;
}
.advantages__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages__title {
  color: white;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
}
.advantages__text {
  color: #868380;
  font-size: 0.8rem;
}

@media (max-width: 769px) {
  .advantages__wrap {
    max-width: 330px;
    flex-direction: column;
  }
  .advantages__item {
    display: flex;
    justify-content: space-between;
  }
  .advantages .reverse {
    flex-direction: row-reverse;
  }
}
.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: #45413e;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__copyright {
  padding-bottom: 25px;
}
.footer__contact {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
.footer__title {
  color: #45413e;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 600;
}
.footer__menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer__social-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__link {
  color: #45413e;
  text-decoration: none;
  color: #b2b2b2;
  opacity: 0.7;
  font-size: 18px;
}
.footer__link:hover {
  color: inherit;
  cursor: pointer;
}
.footer__link:hover {
  color: darker(#b2b2b2, 20%);
}
.footer .container-fluid {
  display: none;
}
.footer .footer-options {
  display: none;
}

.address-item {
  padding-bottom: 18px;
}

.mail-to,
.call-to {
  text-decoration: none;
  color: #45413e;
}
.mail-to:hover,
.call-to:hover {
  color: #85bc23;
}

.categoriest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.categoriest__column {
  display: flex;
  flex-direction: column;
}
.categoriest__element {
  color: #45413e;
  text-decoration: none;
  padding: 8px 0;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.7;
}
.categoriest__element:hover {
  color: inherit;
  cursor: pointer;
}

.heart-position {
  position: relative;
}

.heart-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: #262a32;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  top: -4px;
  left: 16px;
  display: none;
}

.bag-position {
  position: relative;
}

.shopping-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: #262a32;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  left: 12px;
  display: none;
}

@media (max-width: 1279px) {
  .footer {
    grid-template-columns: 27% 1fr 5%;
  }
  .footer__social-link {
    display: flex;
    flex-direction: column;
  }
  .footer__link {
    padding-bottom: 16px;
  }
  .footer-options {
    display: none;
  }
}
@media (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__contact {
    display: none;
  }
  .footer__menu {
    display: none;
  }
  .footer__social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
  }
  .footer .container-fluid {
    display: contents;
  }
  .footer .click {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .footer .address-item {
    margin-bottom: 0;
  }
  .footer .address-item:last-child {
    padding-bottom: 0;
  }
  .footer .categoriest__element {
    color: #45413e;
    text-decoration: none;
  }
  .footer .categoriest__element:hover {
    color: inherit;
    cursor: pointer;
  }
  .footer .hidden-menu__list {
    padding: 4px 8px;
  }
  .footer .hide {
    display: none;
  }
  .footer .rotate-arrow {
    transform: rotate(180deg);
  }
  .footer .wrap-options {
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    padding: 10px 20% 0 20%;
    background-color: #262a32;
  }
  .footer .footer-options {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .footer-options__item {
    padding: 0 15px 10px 15px;
    color: #b2b2b2;
    font-size: 1.5rem;
    list-style: none;
  }
  .footer .footer-options__item:hover {
    color: #7f7f7f;
  }
  .footer .footer-options__item:visited {
    color: #b2b2b2;
  }
  .footer .footer-options__item .material-symbols-outlined {
    font-weight: bold;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrap_external {
  width: 1280px;
  margin: 0 auto;
}
.wrap_internal {
  padding: 0 55px;
}

.main {
  padding-top: 110px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrap_external {
    width: 100%;
  }
  .wrap_internal {
    padding: 0 5%;
  }
}
@media (max-width: 1200px) {
  .main {
    padding-top: 65px;
  }
}
.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}
.btn:focus {
  box-shadow: none;
}

.modal-content {
  border: 1px solid #999999;
  border-radius: 7px;
  padding: 32px 36px;
  width: 500px;
  height: 468px;
  background-color: white;
  color: #45413e;
}
.modal-content .sing-in__title {
  text-align: center;
  font-weight: 600;
}
.modal-content .sing-in__align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content .sing-in__align--submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content .sing-in__forgot {
  font-weight: 600;
  color: #85bc23;
  font-size: 0.7rem;
}
.modal-content .sing-in__password {
  position: relative;
}
.modal-content .sing-in__password--icon {
  position: absolute;
  top: 8px;
  right: 30px;
  color: #b2b2b2;
  font-weight: 900;
}
.modal-content .sing-in__password--icon:hover {
  cursor: pointer;
}
.modal-content .form-control {
  border-radius: 20px;
  margin-top: 10px;
}
.modal-content .btn-primary {
  background-color: #85bc23;
  border-color: #85bc23;
  margin-bottom: 24px;
}
.modal-content .btn-primary:hover {
  cursor: pointer;
  background: #67911b;
  border-color: #67911b;
}

.modal-body-sing-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-footer {
  border-top: none;
}

.is-invalid {
  border-color: red;
}

.icon--hide {
  opacity: 0;
}

@media (max-width: 769px) {
  .modal-dialog {
    display: flex;
    justify-content: center;
  }
  .modal-content {
    width: 450px;
  }
}
body {
  position: relative;
  z-index: 1;
}

.container-main {
  padding-top: 12px;
  padding-bottom: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.7s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.detailed-page__wrap-img {
  position: relative;
}
.detailed-page__resize-container {
  position: absolute;
  top: 10px;
  left: 28px;
  z-index: 1;
  background-color: transparent;
}
.detailed-page__resize-container:hover {
  cursor: pointer;
  scale: 1.3;
}
.detailed-page__image {
  width: 100%;
}
.detailed-page__image-small {
  object-fit: cover;
}
.detailed-page__price {
  font-size: 3rem;
  font-weight: 900;
}
.detailed-page__container {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}
.detailed-page__container .card-img-overlay {
  background-color: white;
  opacity: 0.6;
  border: 1px solid grey;
}
.detailed-page__container .active-img {
  opacity: 0;
}
.detailed-page__info {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.detailed-page__color-select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 152px;
  height: 40px;
  border: 2px solid #e8e2d6;
  border-radius: 50px;
}
.detailed-page__color {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #585d61;
}
.detailed-page__size-select {
  display: flex;
  gap: 24px;
}
.detailed-page__print {
  display: flex;
  justify-content: space-evenly;
  color: #b2b2b2;
  padding: 0 10px;
}
.detailed-page__print:hover {
  cursor: pointer;
  color: #45413e;
  scale: 1.1;
}
.detailed-page__print--icon {
  font-size: 2rem;
  padding-right: 20px;
}
.detailed-page__text {
  color: #45413e;
}
.detailed-page__size {
  font-size: 1.5rem;
}
.detailed-page__share {
  display: flex;
  gap: 36px;
}
.detailed-page__share-title {
  color: #b2b2b2;
}
.detailed-page__link {
  color: #b2b2b2;
  text-decoration: none;
}
.detailed-page__link:hover {
  text-decoration: underline;
}

.container-active {
  border: #84bc22 1px solid;
}

.hide-img {
  display: none;
}

.toggle-hidden-text {
  color: #84bc22;
  cursor: pointer;
}

.detailed-page__read-less {
  display: none;
}

.input-group {
  flex-wrap: nowrap;
  align-items: center;
  width: 130px;
  border: 2px solid #e8e2d6;
  border-radius: 20px;
}
.input-group .btn {
  width: fit-content;
  font-size: 1rem;
  font-weight: 800;
  color: #e8e2d6;
}
.input-group .btn:focus {
  box-shadow: none;
}

.input-count {
  border: none;
  display: inline-block;
}
.input-count:focus {
  box-shadow: none;
}

.btn-success {
  background-color: #85bc23;
  border-color: #85bc23;
}
.btn-success:hover {
  background-color: #67911b;
  border-color: #67911b;
}
.btn-success:focus {
  box-shadow: none;
  background-color: #67911b;
  border-color: #67911b;
}

.col-md-12 {
  gap: 20px;
}

.tab {
  padding-bottom: 0;
}

.tab-content {
  padding-right: 0;
  padding-left: 0;
}

.nav {
  justify-content: center;
  border: none;
}
.nav-link {
  padding: 15px 50px;
  font-size: 1.5rem;
  color: #bdc3c7;
  border-color: #262a33;
  transition: none;
  height: 70px;
}
.nav-link .active:focus {
  border-color: #262a33 !important;
}
.nav-link:hover {
  color: #bdc3c7;
  border: none;
}
.nav .active {
  background-color: #262a33 !important;
  color: #fff !important;
  border-radius: 20px 20px 0 0 !important;
}
.nav .active:hover {
  border-color: #262a33 !important;
}
.nav .active:focus {
  border-color: #262a33 !important;
}

.tab-pane {
  column-count: 2;
  column-gap: 50px;
  padding: 68px;
}
@media (max-width: 768px) {
  .tab-pane {
    column-count: 1;
  }
}

.fade {
  transition: none;
  animation-duration: 0s;
}

.show {
  color: white;
  background-color: #262a33;
  border-radius: 0 0 7px 7px;
}

.popular {
  background-color: #f1edea;
  color: #45413e;
}
.popular__line {
  background-color: #999999;
}
.popular__title--heading {
  font-size: 2rem;
  font-weight: 900;
}
.popular .popular__item .card {
  background-color: transparent;
  border: none;
}

.biggest-container {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: zoom-out;
}
.biggest-container__hide {
  opacity: 0;
  visibility: hidden;
}

.biggest-image {
  width: 40%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .tab {
    display: none;
  }
}
@media (max-width: 768px) {
  .not-found__title--404 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .row {
    flex-direction: column;
  }
  .col-sm-12 {
    width: 100%;
  }
  .not-found__line {
    display: none;
  }
  .popular__line {
    display: none;
  }
}
@media print {
  .print-hide {
    display: none;
  }
  .wrap-internal {
    padding: 0;
  }
  .detailed-page__text {
    display: block;
  }
}

/*# sourceMappingURL=detailed-page.css.map */
