@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrap_external {
  width: 1280px;
  margin: 0 auto;
}
.wrap_internal {
  padding: 0 55px;
}

.main {
  padding-top: 110px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrap_external {
    width: 100%;
  }
  .wrap_internal {
    padding: 0 5%;
  }
}
@media (max-width: 1200px) {
  .main {
    padding-top: 65px;
  }
}
.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}
.btn:focus {
  box-shadow: none;
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 5;
  display: flex;
  width: 1280px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e8e2d6;
}

.mobile-header {
  display: none;
}

.header__item, .menu .options__item, .menu .settings__item, .menu .nav-list__item {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.01rem;
}
.header__item:hover, .menu .options__item:hover, .menu .settings__item:hover, .menu .nav-list__item:hover {
  cursor: pointer;
}

.hidden-menu {
  position: fixed;
  z-index: 6;
  top: 79px;
  display: flex;
  padding: 50px 45px 40px 60px;
  color: white;
  background-color: #262a32;
}
.hidden-menu__title {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.hidden-menu__list {
  padding: 4px 0;
  list-style: none;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
}
.hidden-menu__item {
  display: inline-block;
  padding: 4px 0;
  text-decoration: none;
  color: white;
}
.hidden-menu__item:hover {
  color: #999999;
}
.hidden-menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-menu__image {
  border-radius: 7px;
}

.hide {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo:hover {
  text-decoration: none;
}
.logo__image {
  width: 63px;
  height: 65px;
}
.logo__name {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.logo__name_abbreviation {
  height: 33px;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #011847;
}
.logo__name_second {
  height: 25px;
  font-weight: 400px;
  font-size: 18px;
  color: #84bc22;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}
.menu .nav-list {
  margin: 0;
  padding: 0;
  height: 80px;
}
.menu .nav-list .additional-menu::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-left: 25px;
}
.menu .nav-list__item {
  margin-top: 15px;
  padding: 10px 10px 28px;
  color: #45413e;
}
.menu .nav-list__item:hover {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .nav-list__item:hover .nav__link {
  color: #999999;
}
.menu .nav-list__item.active {
  background-color: #262a32;
  border-bottom: 3px solid #85bc23;
  color: #999999;
}
.menu .nav__link {
  color: #45413e;
  text-decoration: none;
}
.menu .settings {
  margin-bottom: 5px;
}
.menu .settings__item {
  padding: 0 15px 0 15px;
  color: #999999;
  border: none;
  width: 80px;
}
.menu .settings__item:hover {
  color: #7f7f7f;
}
.menu .form-select:focus {
  border: none;
  box-shadow: none;
}
.menu .options {
  margin-bottom: 0;
  padding-top: 16px;
}
.menu .options__item {
  padding: 0 15px 10px 15px;
  color: #b2b2b2;
  font-size: 1.4rem;
  position: relative;
}
.menu .options__item:hover {
  color: #7f7f7f;
}
.menu .options__item:visited {
  color: #b2b2b2;
}
.menu .options__item a {
  color: #b2b2b2;
}
.menu .options__item .material-symbols-outlined {
  font-weight: bold;
}
.menu .heart-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: white;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  display: none;
}
.menu .shopping-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: white;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  left: 28px;
  display: none;
}

@media (max-width: 1279px) {
  .main-header {
    display: none;
  }
  .mobile-header {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e8e2d6;
  }
  .mobile-header__position {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .mobile-header__menu {
    position: absolute;
    left: 0;
    top: 5%;
    font-weight: 700;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .mobile-header__img {
    width: 45px;
    height: 45px;
  }
  .mobile {
    width: 100%;
    top: 60px;
    padding: 15px 20px;
  }
  .mobile .click {
    display: flex;
    cursor: pointer;
  }
  .mobile .click-service {
    padding-bottom: 18px;
  }
  .mobile .hide {
    display: none;
  }
  .mobile .rotate-arrow {
    transform: rotate(180deg);
  }
  .mobile .hidden-menu {
    padding-top: 0;
  }
  .mobile .hidden-menu__sub-title {
    padding-left: 20px;
    cursor: pointer;
  }
  .mobile .hidden-menu__list {
    padding-left: 40px;
  }
  .mobile .hidden-menu__image {
    width: 100%;
  }
}
.footer {
  display: grid;
  grid-template-columns: 27% 4fr 1fr;
  font-size: 0.8125rem;
  color: #45413e;
  margin-top: 40px;
  margin-bottom: 40px;
}
.footer__copyright {
  padding-bottom: 25px;
}
.footer__contact {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
.footer__title {
  color: #45413e;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-weight: 600;
}
.footer__menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.footer__social-link {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer__link {
  color: #45413e;
  text-decoration: none;
  color: #b2b2b2;
  opacity: 0.7;
  font-size: 18px;
}
.footer__link:hover {
  color: inherit;
  cursor: pointer;
}
.footer__link:hover {
  color: darker(#b2b2b2, 20%);
}
.footer .container-fluid {
  display: none;
}
.footer .footer-options {
  display: none;
}

.address-item {
  padding-bottom: 18px;
}

.mail-to,
.call-to {
  text-decoration: none;
  color: #45413e;
}
.mail-to:hover,
.call-to:hover {
  color: #85bc23;
}

.categoriest {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.categoriest__column {
  display: flex;
  flex-direction: column;
}
.categoriest__element {
  color: #45413e;
  text-decoration: none;
  padding: 8px 0;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.7;
}
.categoriest__element:hover {
  color: inherit;
  cursor: pointer;
}

.heart-position {
  position: relative;
}

.heart-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: #262a32;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  top: -4px;
  left: 16px;
  display: none;
}

.bag-position {
  position: relative;
}

.shopping-container {
  position: absolute;
  top: -4px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border: 2px solid #85bc23;
  border-radius: 50%;
  background-color: #262a32;
  color: #85bc23;
  font-size: 0.7rem;
  font-family: "Lato", sans-serif;
  left: 12px;
  display: none;
}

@media (max-width: 1279px) {
  .footer {
    grid-template-columns: 27% 1fr 5%;
  }
  .footer__social-link {
    display: flex;
    flex-direction: column;
  }
  .footer__link {
    padding-bottom: 16px;
  }
  .footer-options {
    display: none;
  }
}
@media (max-width: 769px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer__contact {
    display: none;
  }
  .footer__menu {
    display: none;
  }
  .footer__social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
  }
  .footer .container-fluid {
    display: contents;
  }
  .footer .click {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .footer .address-item {
    margin-bottom: 0;
  }
  .footer .address-item:last-child {
    padding-bottom: 0;
  }
  .footer .categoriest__element {
    color: #45413e;
    text-decoration: none;
  }
  .footer .categoriest__element:hover {
    color: inherit;
    cursor: pointer;
  }
  .footer .hidden-menu__list {
    padding: 4px 8px;
  }
  .footer .hide {
    display: none;
  }
  .footer .rotate-arrow {
    transform: rotate(180deg);
  }
  .footer .wrap-options {
    position: fixed;
    z-index: 5;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55px;
    padding: 10px 20% 0 20%;
    background-color: #262a32;
  }
  .footer .footer-options {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .footer-options__item {
    padding: 0 15px 10px 15px;
    color: #b2b2b2;
    font-size: 1.5rem;
    list-style: none;
  }
  .footer .footer-options__item:hover {
    color: #7f7f7f;
  }
  .footer .footer-options__item:visited {
    color: #b2b2b2;
  }
  .footer .footer-options__item .material-symbols-outlined {
    font-weight: bold;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.wrap_external {
  width: 1280px;
  margin: 0 auto;
}
.wrap_internal {
  padding: 0 55px;
}

.main {
  padding-top: 110px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .wrap_external {
    width: 100%;
  }
  .wrap_internal {
    padding: 0 5%;
  }
}
@media (max-width: 1200px) {
  .main {
    padding-top: 65px;
  }
}
.btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border-width: 2px;
}
.btn:focus {
  box-shadow: none;
}

.modal-content {
  border: 1px solid #999999;
  border-radius: 7px;
  padding: 32px 36px;
  width: 500px;
  height: 468px;
  background-color: white;
  color: #45413e;
}
.modal-content .sing-in__title {
  text-align: center;
  font-weight: 600;
}
.modal-content .sing-in__align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content .sing-in__align--submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content .sing-in__forgot {
  font-weight: 600;
  color: #85bc23;
  font-size: 0.7rem;
}
.modal-content .sing-in__password {
  position: relative;
}
.modal-content .sing-in__password--icon {
  position: absolute;
  top: 8px;
  right: 30px;
  color: #b2b2b2;
  font-weight: 900;
}
.modal-content .sing-in__password--icon:hover {
  cursor: pointer;
}
.modal-content .form-control {
  border-radius: 20px;
  margin-top: 10px;
}
.modal-content .btn-primary {
  background-color: #85bc23;
  border-color: #85bc23;
  margin-bottom: 24px;
}
.modal-content .btn-primary:hover {
  cursor: pointer;
  background: #67911b;
  border-color: #67911b;
}

.modal-body-sing-in {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-footer {
  border-top: none;
}

.is-invalid {
  border-color: red;
}

.icon--hide {
  opacity: 0;
}

@media (max-width: 769px) {
  .modal-dialog {
    display: flex;
    justify-content: center;
  }
  .modal-content {
    width: 450px;
  }
}
main {
  background-color: #f1edea;
  padding-bottom: 45px;
}

.breadcrumb {
  justify-content: center;
  margin-bottom: 0;
}

.link-home {
  color: #45413e;
  text-decoration: none;
  color: #85bc23;
}
.link-home:hover {
  color: inherit;
  cursor: pointer;
}
.link-home:hover {
  color: #67911b;
}

.not-found__wrap-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.not-found__wrap-title--404 {
  font-size: 2rem;
  text-align: center;
}
.not-found__line {
  margin: 10px 0 20px;
  height: 2px;
  background-color: #e8e4e1;
}
.not-found__title {
  display: flex;
  justify-content: center;
}
.not-found__title--404 {
  font-size: 3rem;
  font-weight: 900;
}

.row-justify {
  justify-content: space-evenly;
}

.container-main {
  background-color: #fff;
  padding: 50px 0;
  margin-top: 2px;
}

.row {
  padding-bottom: 20px;
}

.align-product {
  justify-content: space-around;
}

.product {
  display: flex;
  align-items: center;
}
.product__image {
  width: 96px;
  height: 92px;
  margin: 0 30px;
}
.product__counter {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__counter .input-group {
  flex-wrap: nowrap;
  align-items: center;
  width: 130px;
  border: 2px solid #b2b2b2;
  border-radius: 20px;
}
.product__counter .input-group .btn {
  width: fit-content;
  font-size: 1rem;
  font-weight: 800;
  color: #b2b2b2;
}
.product__counter .input-group .btn:focus {
  box-shadow: none;
}
.product__counter .material-symbols-outlined {
  font-size: 2rem;
  color: #b2b2b2;
}
.product__counter .material-symbols-outlined:hover {
  cursor: pointer;
}
.product__amount {
  color: #45413e;
  font-size: 2rem;
  font-weight: 900;
}
.product__count {
  border: none;
  display: inline-block;
  text-align: center;
  width: 40%;
}
.product__count:focus {
  box-shadow: none;
}

.shopping__align {
  display: flex;
  justify-content: space-evenly;
}
.shopping__align--order {
  align-items: center;
}
.shopping__input {
  width: 240px;
  padding-left: 10px;
  border: 2px solid #e8e2d6;
  border-radius: 20px;
  margin-right: 20px;
}
.shopping__input:focus {
  border: 2px solid #e8e2d6;
  box-shadow: none;
}
.shopping__subtotal {
  text-transform: uppercase;
  color: #45413e;
}
.shopping__sum {
  font-weight: 600;
}
.shopping__title {
  font-weight: 600;
  text-transform: uppercase;
}
.shopping__amount {
  font-size: 3rem;
  font-weight: 900;
}

.btn-outline-light {
  border-color: #85bc23;
  color: #85bc23;
}
.btn-outline-light:hover {
  border-color: #e8e2d6;
  background-color: #e8e2d6;
  color: #45413e;
}

.btn-light {
  width: 260px;
  background-color: #85bc23;
  color: white;
  border: 2px solid #85bc23;
  margin-left: 20px;
}
.btn-light:hover {
  background-color: #67911b;
  border-color: #67911b;
  color: white;
}
.btn-light:focus {
  background-color: #67911b;
  border-color: #67911b;
  color: white;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #85bc23;
  border-color: #85bc23;
}
.form-check-input:focus {
  box-shadow: none;
}

.shopping-prise {
  font-weight: 700;
}

.col {
  margin-bottom: 20px;
}

@media (max-width: 769px) {
  .align-product {
    flex-direction: column;
  }
  .product__counter {
    justify-content: space-around;
  }
}
@media (max-width: 576px) {
  .not-found__line {
    display: none;
  }
  .not-found__title--404 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=shopping.css.map */
